:root {
    --bg-primary: #000;
    --bg-secondary: rgba(175, 181, 195, 0.15);
    --primary: rgb(242, 244, 248);
    --secondary: rgba(229, 238, 255, 0.5);
    --accent: #ff4000;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, ui-monospace, monospace, sans-serif;
    background-color: var(--bg-primary);
    color: var(--primary);
    margin: unset;
}

.title {
    padding: 0 21px;
}

.container {
    display: flex;
    margin: 0 13px;
    flex-direction: column;

}

.searchIcon {

}

.searchBar {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    align-items: center;

    flex: 1 1 0;
    background-color: var(--bg-secondary);
    aspect-ratio: 21 / 3;
    border-radius: 21px;
    margin-bottom: 13px;

    padding: 0 21px;
}

.input {
    width: 100%;
    outline: none;
    background: transparent;
    border: none;
    color: var(--primary);
    font-size: 1.5em;
    height: 100%;
}

.card {
    flex: 1 1 0;
    background-color: var(--bg-secondary);
    aspect-ratio: 8 / 3;
    border-radius: 21px;
    margin-bottom: 13px;

    padding: 0 34px;
}

@media (600px <= width) {
    .title {
        color: red !important;
    }
    .container {
        flex-direction: row;
    }
}